<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security
		    http://www.springframework.org/schema/security/spring-security.xsd
		    http://www.springframework.org/schema/beans
		    http://www.springframework.org/schema/beans/spring-beans.xsd
		    http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context.xsd">

	<http use-expressions="true">
		<intercept-url pattern="/login" access="isAnonymous()" />
		<intercept-url pattern="/logout" access="isAnonymous()" />
		<intercept-url pattern="/profile/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN', 'ROLE_SUBADMIN')" />
		<intercept-url pattern="/grammar/**" access="hasAnyRole('ROLE_USER')" />
		<intercept-url pattern="/vocabulary/**" access="hasAnyRole('ROLE_USER')" />
		<intercept-url pattern="/testList/**" access="hasAnyRole('ROLE_USER')" />
		<intercept-url pattern="/admin/**" access="hasAnyRole('ROLE_ADMIN')" />
		<intercept-url pattern="/subadmin/**" access="hasAnyRole('ROLE_SUBADMIN')" />
		<intercept-url pattern="/other/**" access="isAuthenticated()" />
		<access-denied-handler error-page="/" />
		<form-login login-page='/?login=true' login-processing-url="/j_spring_security_check"
			username-parameter="email" password-parameter="password"
			authentication-failure-url="/signin?error=true" 
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />
		<remember-me
        	token-validity-seconds="86400"
			remember-me-parameter="remember-me" />
		<logout logout-url="/logout" logout-success-url="/"
			delete-cookies="JSESSIONID" invalidate-session="true" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="encoder" />
			<jdbc-user-service data-source-ref="myDataSource"
				users-by-username-query="select email, password, enabled from user where email = ?"
				authorities-by-username-query="select email, role from user where email = ?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>