.panel-back {
    background-color:#F8F8F8;

}
.noti-box {
min-height: 100px;
padding: 20px;
}

.noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
.bg-color-green {
background-color: #449D44;
color: #fff;
}
.bg-color-blue {
background-color: #3071A9;
color: #fff;
}
.bg-color-red {
background-color: #C9302C;
color: #fff;
}